:root {
    --color1: #247B91;
    --c1WN1: #eef4f6;
    --c1WN2: #d3e4e9;
    --color2: #D3B3A3;
    --c2d1: #E6DBD4;
    /* d82466 */
    --color3: #455a64;
    --color4: #263238;
    --colorBgw: #f1f1f1;
    --or: #b49c16;
    --argent: #807e7f;
    --bronze : #b05f20;
    --publishedCourseBg:#247B91;
    --askedCourseBg: #020202;
    
    --gradient1: linear-gradient(121.8deg, #217B92 31.34%, #D4B1A4 91.01%);
  }