.auth {
    min-height: 100vh;
    padding: 10px 0;
    display: flex;
    position: relative;
    // background-image: url("../../images/illustrations/auth.svg");
    // background-repeat: no-repeat;
    // background-position:  left bottom;
    // background-size: 30% 50vh;
  }
  .auth::after{
    content: "";
    width: 100%;
    position: fixed;
    height: 50%;
    top: 0;
    background-color: var(--color1);
  }
  
  
  .auth-body {
    z-index: 99999;
    width: 35%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .ab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  .ab-header hr {
    margin: 0 10px;
    height: 30px;
  }
  .ab-header img {
    height: 4vh;
  }
  
  .ab-form {
    width: 90%;
    margin: auto;
    color: var(--color3) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 50px 0;
    border-radius: 10px;
  }
  .ab-form form > div{
    width: 80%;
  }
  .ab-form h2 {
    text-align: center;
    color: var(--color3);
    font-size: 4vh;
    margin: 10px 0;
  }
  .ab-form form {
    display: flex;
    flex-wrap: wrap;
  }
  .ab-form form input,
  .ab-form form select {
  }
  .ab-form form button {
    width: 100%;
    background-color: var(--color1);
  }
  
  @media screen and (max-width: 512px) {
      
    .auth-body {
      width: 95%;
    }
    .ab-form {
        width: 98%;
      }
      .ab-form form > div{
        width: 90%;
      }
  }
  