button{
    color: white;
    background-color: var(--color1);
}
.loggedMain{
    width: 100%;
    @include flexWithWrap();
    height: 100vh;
    background-color: var(--c1WN1);
    .lm-nav{
        width: 15%;
        @include flexDirectionAndJustify("column",space-between,"true");
        // background-color: var(--color1);
        // border-right: solid 2px var(--cwd2);
        padding: 0 0 50px 0;
        i{
            font-size: 4vh;
        }
        .lmn-logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            // background-color: var(--color1)
        }
        .lmn-logo img{
            height: 5vh
        }
        .lmn-menu{
            @include flexDirectionAndJustify("column");
            width: 90%;
            margin-left: auto;
            gap: 30px;
        }
        .lmn-menu a{
            width: 100%;
            padding: 5px 0;
            @include flexDirectionAndJustify("row",false,center);
            padding-left: 10%;
            gap: 10px;
            transition: all 0.5s ease;
            border-radius: 10px;
            i,span{
                color: var(--color1);
            }
            // background-color: var(--cwd1);
        }
        .asideNavSelect{
            color: white;
            position: relative;
            i,span{
                color: white !important;
            }
            background-color: var(--color1);
        }


        .lmn-account{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .lmn-account img{
            cursor: pointer;
            @include circleRadius(40px);
        }
    }
    .lm-content{
        width: 85%;
        height: 100%;
        overflow: auto;
    }
}


.dash-titleAndSortBy,.dash-search_add_notice{
    
}
.dash-titleAndSortBy{
    margin: 25px auto;
    width: 90%;
    // background-color: aqua;
    @include flexDirectionAndJustify("row",space-between,"true");

    section{
        &:first-child{
            max-width: 65%;

        }
        &:last-child{
            @include flexDirectionAndJustify("row",space-between,"true");
             //background-color: green;
             >i{
                margin-right: 5px;
                font-size: 25px;
                color: var(--color1)
             }
        }
        &:last-child p{
            @include flexDirectionAndJustify("column");
        }
        select{
            padding: 5px 10px;
        }

    }

    select{
        background-color: white;
    }
}
.dash-search_add_notice{
    @include flexDirectionAndJustify("row",space-between,"true");
    width: 100%;
    height: 10vh;
    padding: 50px 0 !important;
    input{
        // background-color: #d3e4e9;
    }
    .dsad-add_notices{
        margin-right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        i{
            font-size: 3vh;
        }
        .addContentBtn{
            background-color: var(--color1);
            color: white;
            @include circleRadius(30px);
            
        }
    }
}
.formSegmentSearchWithIcon{
    @include flexDirectionAndJustify("row",initial,"true");
    background-color: white;
    border-radius: 10px;
    margin-left: 2%;
    width: 50px;
    transition: all .5s ease;
    cursor: pointer;
    input{
        border: none;
        width: 100%;
        display: none;
    }
    input:focus{
        border: none;
    }
    i{
        width: 50px;
        height: 50px;
        line-height: 50Px;
        display: inline-block;
        text-align: center;
        font-size: 3vh;
    }
    &:hover{
        width: 70%;
        input{
            display: block;
        }
    }
}



@media screen and (max-width: 1024px){
    .loggedMain{
        width: 100%;
        .lm-nav{
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            position: fixed;
            bottom: 0;
            z-index: 1000000000;
            padding: 0 10px;
            width: 90%;
            left: 50%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: var(--c1WN1);
            transform: translateX(-50%);
            height: 10vh;
            @include flexDirectionAndJustify("row",space-between,"true");
            .lmn-logo{
                // background-color: aqua
                display: none;
            }
            .lmn-menu{
                @include flexDirectionAndJustify("row");
                gap: 5px;
                width: initial;
                margin-left: 10px;
            }
            .lmn-menu a{
               flex-direction: column;
               padding: initial;
               padding: 0;
               width: 40px;
               height: 40px;
               line-height: 40px;
               span{
                // font-size: 14px;
                display: none;
                }
            }
            .asideNavSelect{
                border-radius: 10px;
            }
            .asideNavSelect::after,.asideNavSelect::before{
                display: none;
            }
           
            .lmn-account{
            flex-direction: row-reverse;
            gap: 10px;
            // background-color: var(--color1);
  
            }
        }
        .lm-content{
            width: 100%;
            height: 90vh;
        }
    }

    .dash-titleAndSortBy{
        width: 95%;
        section{
            &:first-child{
                font-size: 14px;
            }
            &:last-child{
               // @include flexDirectionAndJustify("column",space-between,"true");
                text-align: center;
            }
            &:last-child span{
                margin-right: initial;
            }
        }
    
        select{
            background-color: white;
        }
    }
}