button{
    color: white;
    background-color: var(--color1);
}
.loggedMain{
    width: 100%;
    @include flexWithWrap();
    height: 100vh;
    background-color: var(--c1WN1);
    .lm-nav{
        width: 15%;
        @include flexDirectionAndJustify("column",space-between,"true");
        background-color: var(--c1WN1);
        // border-right: solid 2px var(--cwd2);
        padding: 0 0 50px 0;
        i{
            font-size: 4vh;
        }
        .lmn-logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30vh;
            background-color: var(--color1);
            clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 50% 70%, 0 100%, 0 100%, 0 100%, 0 0);
            img{
                height: 10vh;
                max-width: 60%;
                object-fit: contain;
            }
        }
        .lmn-menu{
            // @include flexDirectionAndJustify("column");
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            gap: 10px;
            margin: 30px 0 auto 0;
            // background-color: aqua;
        }
        .lmn-menu a{
            width: 45%;
            padding: 15px 0;
            @include flexDirectionAndJustify("column",false,center);
            gap: 10px;
            transition: all 0.5s ease;
            border-radius: 10px;
            i,span{
                color: var(--color1);
            }
            // background-color: var(--cwd1);
        }
        .asideNavSelect{
            box-shadow: var(--color1) 0px 7px 29px 0px !important;
            color: white;
            position: relative;
            i,span{
                color: white !important;
            }
            background-color: var(--color1);
        }

    }
    .lm-content{
        width: 85%;
        height: 100%;
        overflow: auto;
    }
}

.addNewCourseLink{
    border: dashed 2px var(--publishedCourseBg);
    i{
        color: var(--publishedCourseBg) !important;
    }
}
.addNewCourseRequestLink{
    border: dashed 2px var(--askedCourseBg);
    i{
        color: var(--askedCourseBg) !important;
    }
}
// publishedCourseBg
// askedCourseBg

@media screen and (min-width: 1024px) and (max-width: 1400px){
    // .lm-nav{
    //     width: 20% !important;
    //     // background-color: aqua !important;
    // }
    // .lm-content{
    //     width: 80% !important;
    // }
}

@media screen and (max-width: 1024px){
    .loggedMain{
        width: 100%;
        .lm-nav{
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            position: fixed;
            bottom: 0;
            z-index: 9999;
            padding: 0 10px;
            width: 90%;
            left: 50%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: var(--c1WN1);
            transform: translateX(-50%);
            height: 10vh;
            @include flexDirectionAndJustify("row",space-between,"true");
            .lmn-logo{
                // background-color: aqua
                display: none;
            }
            .lmn-menu{
                @include flexDirectionAndJustify("row",space-between);
                gap: 5px;
                width: initial;
                margin: auto;
                width: 90%;
            }
            .lmn-menu a{
               flex-direction: column;
               padding: initial;
               padding: 0;
               width: 40px;
               height: 40px;
               line-height: 40px;
               span{
                // font-size: 14px;
                display: none;
                }
            }
            .asideNavSelect{
                border-radius: 10px;
            }
            .asideNavSelect::after,.asideNavSelect::before{
                display: none;
            }
           
        }
        .lm-content{
            width: 100%;
            height: 90vh;
        }
    }

    .dash-titleAndSortBy{
        width: 95%;
        section{
            &:first-child{
                font-size: 14px;
            }
            &:last-child{
               // @include flexDirectionAndJustify("column",space-between,"true");
                text-align: center;
            }
            &:last-child span{
                margin-right: initial;
            }
        }
    
        select{
            background-color: white;
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1100px){
    // .lmn-menu a{
    //     width: 100% !important;
    //  }
}