.coursesRequest{
    h1{
        text-align: center;
        margin: 25px auto;
    }
}
.coursesRequest-list{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
}
.crl-courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.courses-request-actions{
    padding: 50px 0;
}
.courses-request-add{
    width: 90%;
    margin: auto;
}