.courses{
    h1{
        text-align: center;
        margin: 25px auto;
    }
}
.addNewCourseLinks,.addNewCourseRequestLinks{
    width: 200px;
    height: 250px;
    border: dashed 2px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    // margin: auto;
    i{
        font-size: 100px;
    }
}
.courses-list{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
}
.cl-courses{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}


.courses-actions{
    padding: 50px 0;
}
// Add course page
.courses-add{
    width: 90%;
    margin: auto;

}
.courses-add section form{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 512px) {
    .addNewCourseLinks,.addNewCourseRequestLinks{
        width: 46%;
        height: 220px;
    }
    
}


// 