.students{

}
.students-list{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
}
.sl-students{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}