.modal {
  background-color: var(--ob8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.modal > section {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  animation: modalFade 0.6s ease-in-out;
}
.mb-head-closer,
.mb-foot-closer {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.mb-head-closer {
  text-align: right;
}
.mb-head-closer i {
  cursor: pointer;
  font-size: 25px;
}
.mb-foot-closer {
}


/* COnfirmation */

.confirmationModal{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.confirmationModal section{
  display: flex;
  gap: 20px;
  margin: 25px auto;
}
.confirmationModal section span{
  padding: 10px 15px;
  cursor: pointer;
}
.confirmationModal section span:nth-child(1){
  background-color: var(--color1);
  color: white;
}
.confirmationModal section span:nth-child(2){
  background-color: var(--cwd4);
  color: grey;
}


/* illustrationAndTextMessageModal */
.illustrationAndTextMessageModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
}
.illustrationAndTextMessageModal h2{
  color: var(--color1);
}

/*  */
/*  */
@keyframes modalFade {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
